[project]
name = "hacs-wwz"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "aiohttp>=3.13.3",
    "homeassistant>=2026.2.2",
]
